#search-form-div{
  margin-top: 20px;
  text-align: center;  
}

#search-box{
  width: 300px;
}

#upload-frame{
  width:auto;
  height: auto;
}

#drop-box{
  border: 5px black solid;
  background-color: blue;
  width: 1300px;
  height: 350px;
  margin-top: 10px;
}

#main-logo{
  width: 512px;
  height: 512px;
  margin: auto;
  display: block;
}

header{
  height: 100px; 
  width: 100%;
}

ul.product-list{
  list-style-type: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  border: 3px;
}

#top-navbar{
  display: block;
  float: right;
  width: 100%;
  border-bottom: solid 1px;
  

}

#top-nav {
  float: right;
  list-style-type: none;
  width: 100%;
}

#top-nav #bar-logo{
  float: left;
  margin-right: 5px;
}


#top-nav .float-right{
  float:right;
  margin-left: 10px;
}
/* #top-nav li a{
  display: block;
  margin-left: 5px;
  text-decoration: none;
} */

#main {
  width: 100%;
}


li.product-list {
  height: 80px;
  border: 1px solid #0000;
}

li:last-child {
  border-right: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* #upload-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#drop-box {
  border: 2px dashed #ccc;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info {
  margin-right: 10px;
} 

/* body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
} */